p{
  font-size: 5vh;
}

#container{
  height:100vh;
  width: 100%;
  padding: 0px;
}

#content{
  height:100%;
  background-color: #FFB22E;
  color: white;
  text-align: center;
}

#block1{
  height:25vh;
}

#block3{

}

#input{
  display:none;
}

.button{
  font-size: 30vh;
}

.button:hover{
  color: #DDDDDD;
}

.button:active{
  color: #BBBBBB;
  font-size:31vh;
}
