p{
  font-size: 5vh;
}

#container{
  height:100vh;
  width: 100%;
  padding: 0px;
}

#content{
  height:100%;
  background-color: #FF9800;
  color: white;
  text-align: center;
  background-image: url(images/microwave.png);
  background-size: 70vh;
  background-position: center;
  background-repeat: no-repeat;
}

#block1{
  height:25vh;
}

#block2{
  position:relative;
}

#block3{
    font-size: 30px;
}

#input{
  display:none;
}

.button{
  font-size: 30vh;
  text-shadow: rgba(0,0,0,0.2) 0 0 20px;
}

.button:hover{
  color: #DDDDDD;
}

.button:active{
  color: #BBBBBB;
  font-size:31vh;
}
